
@{
    ViewData["Title"] = "Locaties beheren";
}
<div>
    <p style="margin: var(--topleft-margin)">Lijst met locaties momenteel niet beschikbaar.</p>
    @*<a asp-controller="Branch" asp-action="NotImplemented">
            <input type="button" class="btn btn-primary navBtn smallBtn" value="Geselecteerde verwijderen" />
        </a>
        <a asp-controller="Branch" asp-action="NotImplemented">
            <input type="button" class="btn btn-primary navBtn smallBtn" value="Geselecteerde bewerken" />
        </a>*@
    <a asp-controller="Location" asp-action="Add">
        <input type="button" class="btn btn-primary navBtn" value="Nieuw toevoegen..." />
    </a>
</div>
