
@{
    ViewData["Title"] = "Categorieën beheren";
}
<div>
    <p style="margin: var(--topleft-margin)">Lijst met categorieën momenteel niet beschikbaar.</pstyle="margin:>

        </div>
        <div>
                <a asp-controller="Category" asp-action="Add">
        <input type="button" class="btn btn-primary navBtn" value="Nieuw toevoegen..." />
    </a>
</div>
